.footer{
    display: flex;
    background-color: black;
    justify-content: space-around;
    margin-right: 0px;
}

.footer-group {
    flex: 1;
    margin-right: 250px;
  }
  
  
.footer-container{
    display: flex;
    justify-content: center;
    height: 130px;

}
.footer-title{
    display: flex;
    margin-top: 10px;
    font-size: 16px;
    font-style: bold;
    font-weight: 400;
    color: #20DD33;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.footer_logo{
    width: 30%;
}

.include_logo{
    margin-right: 0px;
}