.header{
    background-image: url("../../assets/images/components/cinema_logo.jpg");
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: 0.3 ease;
    .container{
        height: 100%;
        display: flex;
    }
}



.header_logo{
    width: 80%;
    height: 150px;
    display: flex;

    .logo_img{
        width: 60%;
        height: 140px;
        margin-left: 100px;
        display: inline-block;
    
    }
}

.header_menu{
    display: flex;
    align-items: center;
    margin-right: 600px;
    margin-top: 40px;
    text-align: center; 
}

.header_menu_item{
    margin-left: 60px;

    font-size: 20px;
}


