.header{
   background-color: black;
    width: 100%;
    z-index: 99;
    transition: 0.3 ease;
    .container{
        height: 100%;
        display: flex;
    }
}

.header-active {
    background-color: #20DD33; 
}

.container-active {
    background-color: #20DD33;
}

.header_logo{
    width: 100%;
    display: flex;

    .logo_img{
        width: 100%;
        display: inline-block;
    
    }
}

.header_menu{
    display: flex;
    align-items: center;
    margin-right: 100px;
    text-align: center; 
    
}

.header_menu_item{
    margin-left: 60px;
    font-weight: 900;
    font-size: 20px;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}


