.movie-gallery{
    background-color: black;
    display: flex;
}

.movie-gallery-container{
    margin-left: 100px;
    overflow: hidden;
    margin-bottom: 60px;
}

.movie-gallery-image{
    max-width: 410px;
    margin-right: 10px;
}

.movie-gallery-content {
    width: 100%;
    overflow: hidden;
  }
  
.swiper-container {
    display: flex;
}
  
.swiper-slide {
    display: flex;
    flex-shrink: 0;
    margin: 0;
    max-width: 100%;
}
  
.swiper-wrapper{
    display: flex;
}

.swiper-button-next{
    height: 20px;
    width: 10px;
}