.movie-card-frame{
    margin-top: 30px;
    justify-content: right;
    margin-left: 200px;
}

.movie-card-poster{
    width: 300px;
    margin-right: 200px;
    border-radius: 30px;
    margin-bottom: 30px;
    float: right;
}