.movie-card-frame{
    justify-content: right;
    margin-left: 180px;
    margin-top: 150px;
}

.movie-card-poster{
    width: 300px;
    margin-right: 20px;
    border-radius: 30px;
    margin-bottom: 30px;
}

