.main-container{
    background-color: black;
    align-items: center;
    justify-content: center;
}

.main_bg_img{
    align-items: center;
    width: 100%;
}

.more_btn{
    translate: 668px -400px;
    height: 55px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}
.main-scroll-arr{
    translate: 480px -400px;
    cursor: pointer;
}