.movie-list {
    display: flex;
    background-color: black;
    text-align: center;
}

.movie-list-container {
    color: white;
}

.movie-list-item {

}

.movie-list-title {
    font-size: 35px;
    color: #20DD33;
}

.movie-list-desc {
    font-size: 20px;
}

.movie-cards-list-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-card-list-wrapper {
    padding-right: 0%;
    padding-left: 0%;
    margin-right: 0%;
    
}

.movie-card-list-wrapper img {
    width: 230px; 
    height: auto; 
}
